@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LOL";
  font-weight: 100;
  src: url("../fonts/BeaufortforLOL-Light.ttf") format("opentype");
}

@font-face {
  font-family: "LOL";
  font-weight: 300;
  src: url("../fonts/BeaufortforLOL-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "LOL";
  font-weight: 500;
  src: url("../fonts/BeaufortforLOL-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "LOL";
  font-weight: 700;
  src: url("../fonts/BeaufortforLOL-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "LOL";
  font-weight: 900;
  src: url("../fonts/BeaufortforLOL-Heavy.ttf") format("opentype");
}

.swiper-vertical>.swiper-wrapper {
    height: fit-content;
    flex-wrap: wrap;
}

/* .swiper {
  width: 100%;
  height: 100%;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;

  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
} */